<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>WSO2 Platform Samples</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <link href="{{url "/themes/theme0/libs/bootstrap/css/bootstrap.css"}}" rel="stylesheet">
    <style>
        body {
            padding-top: 60px;
        }
        h1, h2, h3, h4, h5, h6 {
            color: #800000;
        }
        a, a h1, a h2, a h3, a h4, a h5, a h6 {
            color: #000000;
        }
        html body {
            background: #BDB76B;
        }
    </style>
</head>

<body>

<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">
            <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="brand" href="{{url "/"}}">WSO2</a>

            <div class="nav-collapse collapse">
                <ul class="nav">
                    <li><a href="{{url "/"}}">Sample Home</a></li>
                    <li><a href="{{url "/list.jag?type=jaggery"}}">Jaggery Samples</a></li>
                    <li><a href="{{url "/list.jag?type=esb"}}">ESB Samples</a></li>
                    <li><a href="{{url "/"}}?theme=theme0">Switch Theme</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        {{include body}}
    </div>
</div>

<script src="{{url "/themes/theme0/libs/jquery.js"}}"></script>
<script src="{{url "/themes/theme0/libs/bootstrap/js/bootstrap.js"}}"></script>
</body>
</html>
